modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/discord-bot: Discord Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/telegram-bot: Telegram Bot"

[[workflows.workflow]]
name = "artifacts/discord-bot: Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/telegram-bot: Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/telegram-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 6800

[[ports]]
localPort = 21723
externalPort = 3001

[[ports]]
localPort = 21724
externalPort = 5173

[[ports]]
localPort = 22153
externalPort = 8000

[[ports]]
localPort = 22453
externalPort = 3000

[[ports]]
localPort = 22454
externalPort = 3003

[[ports]]
localPort = 22455
externalPort = 6000

[[ports]]
localPort = 22456
externalPort = 4200

[userenv]

[userenv.shared]
DISCORD_BOT_TOKEN = "MTQ5Mzc3NTMxMzc0OTE1MTc1NA.G4BVTS.eH74iP5vEYEOQSS0UnaOWat_EwRS9eDISq1c1E"
RESIDENTIAL_HOST = "proxy.proxying.io"
RESIDENTIAL_PORT = "8080"
RESIDENTIAL_USER = "SHJysch1"
RESIDENTIAL_COUNT = "1000"
DARKFLOW_TOKEN = "NCi2DZhsuaA5Q4D7irwRbSrkueWioVYY"
SKYNETCHAT_PRO_CODE = "872140801116"
WEBSHARE_PROXY_LIST = "31.59.20.176:6754,198.23.239.134:6540,45.38.107.97:6014,107.172.163.27:6543,198.105.121.200:6462,216.10.27.159:6837,142.111.67.146:5611,191.96.254.138:6185,31.58.9.4:6077,104.239.107.47:5699"
WEBSHARE_PROXY_USER = "nvfnpagw"

[nix]
channel = "stable-25_05"
