modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/discord-bot: Discord Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/telegram-bot: Telegram Bot"

[[workflows.workflow]]
name = "artifacts/discord-bot: Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/telegram-bot: Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/telegram-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 21723
externalPort = 3001

[[ports]]
localPort = 21724
externalPort = 5173

[[ports]]
localPort = 22453
externalPort = 3000

[[ports]]
localPort = 22454
externalPort = 3003

[[ports]]
localPort = 22455
externalPort = 6000

[userenv]

[userenv.shared]
DISCORD_BOT_TOKEN = "MTQ5Mzc3NTMxMzc0OTE1MTc1NA.G4BVTS.eH74iP5vEYEOQSS0UnaOWat_EwRS9eDISq1c1E"
RESIDENTIAL_HOST = "proxy.proxying.io"
RESIDENTIAL_PORT = "8080"
RESIDENTIAL_USER = "SHJysch1"
RESIDENTIAL_COUNT = "1000"
DARKFLOW_TOKEN = "NCi2DZhsuaA5Q4D7irwRbSrkueWioVYY"

[nix]
channel = "stable-25_05"
