modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/discord-bot: Discord Bot"

[[workflows.workflow]]
name = "artifacts/discord-bot: Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 22453
externalPort = 3000

[userenv]

[userenv.shared]
DISCORD_BOT_TOKEN = "MTQ5Mzc3NTMxMzc0OTE1MTc1NA.G4BVTS.eH74iP5vEYEOQSS0UnaOWat_EwRS9eDISq1c1E"
RESIDENTIAL_HOST = "proxy.proxying.io"
RESIDENTIAL_PORT = "8080"
RESIDENTIAL_USER = "SHJysch1"
RESIDENTIAL_COUNT = "1000"
